:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


h1 {
    font-size: 2rem !important;
    line-height: 2rem !important;
    padding: 1rem 0;
    font-weight: 500;
    margin: 0 0 1rem;
}

h2 {
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
    padding: 0.5rem 0;
    font-weight: 500;
    margin: 1rem 0 1rem;
}

h3 {
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
    padding: 0.45rem 0;
    margin: 1rem 0 1rem;
}




@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}